.App {
   text-align: center;
}

body{
   background-image: url('https://w.forfun.com/fetch/47/47f16a9521607f90161fa047d669c230.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   margin: 0%;
   padding: 0%;
}